@using SandVolleyballWebApp.ViewModels
@model HomeViewModel

@{
	ViewData["Title"] = "Home Page";
}
	<style>
.sectionIndex{
    
    background-image: url('Photo/volleyball-courts-img-1.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	border:none; !important
}
.jumbotron-heading{
color:white;
}

.lead{
	color:white;
}
</style>

<body class=" img-fluid sectionIndex">
	<section style="padding-bottom:630px;" class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Sand Volleyball Web App</h1>
			<p id="jumbo-text"class=" jumbo-text lead ">
				Welcome to Sand VolleyBall Web App navigate to our near you to check out courts in your area. Have a favorite court that isn't listed?
				Create an account and add the court, login to start interacting with local players near you!
			</p>
		</div>
	</section>
	
</body>

