<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SandVolleyballWebApp</title>
	@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SandVolleyballWebApp.styles.css" asp-append-version="true" />




</head>
<body>
	<header>

		<nav class="navbar navbar-expand-lg navbar-light bs-gray-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Sand volleyball web app</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor03">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CourtsNearYou">Near You</a>
						</li>

						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="Index">Community</a>
							</li>

							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Court" asp-action="Index">Courts</a>
							</li>

							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
							</li>
							@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
							{
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
								</li>
							}
							<li class="nav-item bs-gray-dark">
								<form class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">
									<button class="btn btn-primary btn-sm">Logout</button>
								</form>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
							</li>

						}


					</ul>

				</div>
			</div>
		</nav>


	</header>
	<div class="container">
		<main role="main" class="pb-3">

			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

	<div class="  align-content-center">
		<footer class="footer position-sticky">

			<p style="color:black;" class="text-center ">&copy; 2022 Sand volleyball web app, Inc</p>
		</footer>
	</div>
</body>


</html>
