@model ICollection<AppUser>

	<div>
		<h1 class="display-4">Users</h1>
		@if( Model != null && Model.Any()){
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.UserName</td>
                        <td>@user.Email</td>
                    <td>
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    </td>
                </tr>
                    
                }
                
            </tbody>
        </table>
		}
	</div>